<div class="container">
  <div class="row">
    <a routerLink="/company">Company List</a>
  </div>
</div>
<div class="container">
  <div class="row"><h2>Create new Company</h2></div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Company Name</label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Size</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Business Unit</label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button class="btn-block btn-success btn">SAVE COMPANY</button>
    </div>
  </div>
</div>
